<!DOCTYPE html>
<html ng-app="tokiGame">
<head>
    <title>Toki Pona · Visual Dictionary</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="1140.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body ng-controller="gamePlayer">
	<div id="canvas" class="container12">
		<div class="header">
        <div class="column12">
            <div class="logo"><a href="index.html">visual toki pona</a></div>
            <div class="dictionary"><a href="index.html">dictionary</a></div>
            <div class="game current">game</div>
            <!-- form>
                <div class="search">
                    <input ng-model="search_text" type="search" placeholder="Search">
                    <input type="image" src="img/search.jpg">
                </div>
            </form -->
        </div>
        </div>
        <div class="menu_game">
            <div class="switch">
                <button class="left" ng-click="toggleMode()" ng-class="storyState">Stories</button>
                <button class="right" ng-click="toggleMode()" ng-class="examineState">Examine</button>
            </div>
            <button ng-click="nextThree()" class="next">Next three</button>
        </div>
        <div class="img_game">
          
                <div class="gbox">
                    <img class="pic_game" ng-src="pics/{{one.image}}.png">
                    <div class="gray"></div>
                </div>
                <div class="gbox gbox2">
                    <img class="pic_game" ng-src="pics/{{two.image}}.png">
                    <div class="gray"></div>
                </div>
                <div class="gbox">
                    <img class="pic_game" ng-src="pics/{{three.image}}.png">
                    <div class="gray"></div>
                </div>
           
        </div>
        <div ng-show="mode" class="game_translation">
            <div class="first">
                <a href="" ng-click="showHide()" class="word">{{one.toki}}</a>
                <div ng-show="show" class="inbox2">
                    <div class="language">english</div>
                    <div class="words">{{one.eng}}</div>
                    <div class="language">русский</div>
                    <div class="words">{{one.rus}}</div>
                    <div class="language">italiano</div>
                    <div class="words">{{one.ita}}</div>
                </div>
            </div>
            <div class="second">
                <a href="" ng-click="showHide()" class="word">{{two.toki}}</a>
                <div ng-show="show" class="inbox2">
                    <div class="language">english</div>
                    <div class="words">{{two.eng}}</div>
                    <div class="language">русский</div>
                    <div class="words">{{two.rus}}</div>
                    <div class="language">italiano</div>
                    <div class="words">{{two.ita}}</div>
                </div>
            </div>
            <div class="third">
                <a href="" ng-click="showHide()" class="word">{{three.toki}}</a>
                <div ng-show="show" class="inbox2">
                    <div class="language">english</div>
                    <div class="words">{{three.eng}}</div>
                    <div class="language">русский</div>
                    <div class="words">{{three.rus}}</div>
                    <div class="language">italiano</div>
                    <div class="words">{{three.ita}}</div>
                </div>
            </div>
        </div>
	</div>
    <footer ng-include="'footer.html'" class="container12">
    </footer>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/game-engine.js"></script>
</body>
</html>