<!DOCTYPE html>
<html lang="en" ng-app="dictApp">
    <head>
        <title>Toki Pona · Visual Dictionary</title>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="style.css" rel="stylesheet">
    </head>
    <body ng-controller="dictCtrl">
        <div ng-include="'fork.html'"></div>
    	<div id="canvas" class="container12">
    		<header>
                <div class="logo column5">visual toki pona</div>
                <div class="column5">
                    <div class="menu_item current">dictionary</div>
                    <div class="menu_item"><a href="game.html">game</a></div>
                    <div class="menu_item"><a href="about.html">about</a></div>
                </div>
                <div class="search column2">
                    <form action="">
                        <input ng-model="query" type="search" placeholder="Search"> 
                    </form>
                </div>  
            </header>
            <section id="dictionary" item-selector=".box" load-images="false" masonry="{ transitionDuration: '0.4s', transform: 'scale(1)' }" >
                <div masonry-brick class="box column6" ng-repeat="card in cards | filter:query">
                    <div class="inbox1" ng-cloak>
                        <img class="pic" ng-src="svg/{{card.image}}.svg" />
                        <div class="word">{{card.toki}}</div>
                    </div>
                    <div class="inbox2">
                        <div class="language">english</div>
                        <div class="words">{{card.eng}}</div>
                        <div class="language">русский</div>
                        <div class="words">{{card.rus}}</div>
                        <div class="language">italiano</div>
                        <div class="words">{{card.ita}}</div>
                    </div>
                </div>      
            </section>
    	</div>
        <footer ng-include="'footer.html'" class="container12 long">
        </footer>
    	</div>
        
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.bridget.js"></script>
        <script src="js/get-style-property.js"></script>        
        <script src="js/get-size.js"></script>
        <script src="js/EventEmitter.min.js"></script>
        <script src="js/eventie.js"></script>
        <script src="js/doc-ready.js"></script>
        <script src="js/matches-selector.js"></script>
        <script src="js/item.js"></script>
        <script src="js/outlayer.js"></script>
        <script src="js/masonry.pkgd.min.js"></script>
        <script src="js/imagesloaded.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-masonry.min.js"></script>
        <script src="js/engine.js"></script>
    </body>
</html>