
.header{
	height: 96px;
}

.logo{
	font-family: Verdana;
	font-weight: bold;
	font-size:57px;
	margin-top:27px;
	white-space: pre;
	display: inline-block;
}
.dictionary{
	display: inline-block;
	margin-top:51px;
	margin-left: 38px;
	border-top:#000000 solid 7px; 
	width:127px;
}
.dictionary>a{
	font-family: Verdana;
	font-size: 26px;
	text-decoration: none;
	color: #000000;
}
.game{
	margin-top:51px;
	margin-left: 29px;
	display: inline-block;
	border-top:#fff solid 7px; 
	width:71px;
}
.game:hover{
	border-top:#000 solid 7px; 
}
.game>a{
	font-family: Verdana;
	font-size: 26px;
	text-decoration: none;
	color: #000000;
}
.line-game{
	width:73px;
	height:7px;
	background-color: #fff;
	margin-top:73px;
}
.search{
	width: 193px;
	height:26px;
	display: inline-block;
	border: 2px solid #000000;
	background: transparent;
	float:right;
	position: relative;
	buttom:50px;
	
}
 

input[type="image"] {
    width: 16px; 
    height:17px;
	display: inline-block;
	position: relative;
	top: 3px;
   }
   
input[type="search"] { 
	display: inline-block;
	color: #000; 
    outline: none;
	border:none;
	width: 164px;
	margin-left: 4px;
	margin-top: 5px; 
   }
   
input::-webkit-input-placeholder {
	font-size:14px;
	color: #9B9B9B;

	
}
input:-moz-placeholder {
	font-size:16px;
	color: #9B9B9B; 
}

.box{
	border-top:#000000 solid 7px; 
	padding-top: 30px;
	margin-top: 57px;
}

.pic{
	width:173px;
	height:auto;
	margin-right: 23px;
	float:left;
	margin-bottom:10px;
}

.words{
	font-family: Verdana;
	font-size: 15px;
	margin-bottom:24px;
	margin-top:2px;
}

.language{
	font-family: Verdana;
	font-size: 15px;
	border-bottom: #000000 solid 1px;
	padding-bottom: 5px;
}

.word{
	font-family: Verdana;
	font-weight: bold;
	font-size: 32px;
	margin-top: 10px;
}

.inbox1{
	float: left;
	word-break: break-word;
}

.inbox2{
	float:right;
	word-break: break-word;
	width: 293px;
}

}	


   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

