body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	padding: 0 0 4em 0;
}

.header{
	height: 110px;
}

.logo{
	font-weight: bold;
	font-size:3.56em;
	margin-top:29px;
	white-space: pre;
	display: inline-block;
}
.current {
	border-top:#000000 solid 7px; 
}
.dictionary{
	display: inline-block;
	margin-top:51px;
	width:112px;
	margin-left: 8px;
}

@media only screen and (min-width: 500px){
	.dictionary{
		margin-left: 0px;
		margin-bottom: 20px;
	}
}

.dictionary>a{
	font-size: 1.63em;
	text-decoration: none;
	color: #000000;
}
.game{
	margin-top:51px;
	margin-left: 102px;
	display: inline-block;
	width:65px;
}
.game:hover{
	border-top:#000 solid 7px; 
}
.game>a{
	font-size: 1.63em;
	text-decoration: none;
	color: #000000;
}
.line-game{
	width:73px;
	height:7px;
	background-color: #fff;
	margin-top:73px;
}
.search{
	width: 193px;
	height:26px;
	display: inline-block;
	border: 2px solid #000000;
	background: transparent;
	float:right;
	position: relative;
	bottom:30px;
	
}
 

input[type="image"] {
    width: 16px; 
    height:17px;
	display: inline-block;
	position: relative;
	top: 3px;
   }
   
input[type="search"] { 
	display: inline-block;
	color: #000; 
    outline: none;
	border:none;
	width: 164px;
	margin-left: 4px;
	margin-top: 5px; 
   }
   
input::-webkit-input-placeholder {
	font-size:14px;
	color: #9B9B9B;

	
}
input:-moz-placeholder {
	font-size:16px;
	color: #9B9B9B; 
}

.box {
	border-top:#000000 solid 7px; 
	padding-top: 30px;
	margin-top: 25px;
	display: block;
}

/*
.box:nth-child(even) { 
	float: right;
}
.box:nth-child(odd) { 
	float: left;
}
*/

.pic{
	width:173px;
	height:auto;
	margin-right: 23px;
	float:left;
	margin-bottom:10px;
}

.words{
	font-size: 0.938em;
	margin-bottom:24px;
	margin-top:2px;
}

.language{
	font-size: 0.938em;
	border-bottom: #000000 solid 1px;
	padding-bottom: 5px;
}

.word{
	font-weight: bold;
	font-size: 2em;
	margin-top: 10px;
}

.inbox1{
	float: left;
	word-break: break-word;
	max-width: 200px;
}

.inbox2{
	float:right;
	word-break: break-word;
	width: 293px;
}

/* GAME */

.menu_game{
	width: 1078px;
	height: 73px;
	margin-left: 27px;
	margin-top:25px;
	border-top: #000000 solid 7px;
	
}

.switch{
	margin-top: 31px;
	float: left;
}

.stories{
	background-image: url(img/stories.jpg);
	width: 103px;
	height: 43px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	line-height: 42px;
	text-decoration: none;
	color: #000000;
}

.examine{
	background-image: url(img/examine.jpg);
	width: 115px;
	height: 43px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center; 
	display: inline-block;
	line-height: 42px;
	text-decoration: none;
	color: #000000;
	position: relative;
	right: 4px;
}

.examine:hover{
	background-image: url(img/examine-h.jpg);
	width: 115px;
	height: 43px;
}
.next{
	background-image: url(img/next.jpg);
	width: 133px;
	height: 43px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	line-height: 42px;
	text-decoration: none;
	color: #000000;
	float: right;
	margin-top: 31px;
}
.next:hover{
	background-image: url(img/next-h.jpg);
	width: 133px;
	height: 43px;
}

.img_game{
	width: 1086px;
	margin: 0 auto;
	margin-top:48px;
}

.gbox{
	display:table-cell;
	width: 292px;
	height: 203px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.gbox2{
	padding-left: 101px;
	padding-right: 101px;
}

.pic_game{
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	width: 173px;
	height: auto;
	
}

.gray{
	background-color: rgba(0,0,0,.05);
	width: 292px;
	height: 100%;
	position: absolute;
	top: 0;
}
   
   

   
   
   
   
   
   
   
   
   
   
   

