.game_translation{
	width: 1086px;
	margin: 0 auto;
	margin-top: 28px;
}

.word{
	border-bottom: 2px dashed #7F7F7F;
	text-decoration: none;
	color: #000000;
}

.inbox2{
	float: none;
	margin-top: 20px;
}

.first, .second, .third{
	float: left;
	height: auto;
}

.second{
	margin-left: 100px;
	margin-right: 100px;
}

.examine{
	background-image: url(img/examine-h.jpg);
	width: 115px;
	height: 43px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center; 
	display: inline-block;
	line-height: 42px;
	text-decoration: none;
	color: #000000;
	position: relative;
	right: 4px;
}

.stories{
	background-image: url(img/stories-h.jpg);
	width: 103px;
	height: 43px;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	line-height: 42px;
	text-decoration: none;
	color: #000000;
}

.stories:hover{
	background-image: url(img/stories.jpg);
	width: 103px;
	height: 43px;
}